<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div id="devdashboard" data-id="devdashboard" data-view="Dev" data-title="Dashboard Dev"></div>
    </li>
  </ul>
</div>
